<h1>VRT Report versions Baseline & com.evancharlton.mileage-mutant1068</h1>
<br><table>
<tr><th>Versión Baseline</th><th>Versión com.evancharlton.mileage-mutant1068</th><th>Diferences</th><th>Important information</th></tr>
<tr>
<td><img src="../../..\baseline\vrt\Add service interval.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\vrt\Add service interval.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\report\diffs\Add service interval.png" style="height: 380px; width: 216px"></td>
<td><h4>Mutant: com.evancharlton.mileage-mutant1068<br> location: Add service interval.png<br> misMatchPercentage: 0.06<br>isSameDimensions:true<br>dimensionDifference:{width:0, height:0}</h4></td>
</tr>
<tr>
<td><img src="../../..\baseline\vrt\Add Vehicle.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\vrt\Add Vehicle.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\report\diffs\Add Vehicle.png" style="height: 380px; width: 216px"></td>
<td><h4>Mutant: com.evancharlton.mileage-mutant1068<br> location: Add Vehicle.png<br> misMatchPercentage: 0.06<br>isSameDimensions:true<br>dimensionDifference:{width:0, height:0}</h4></td>
</tr>
<tr>
<td><img src="../../..\baseline\vrt\Delete interval.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\vrt\Delete interval.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\report\diffs\Delete interval.png" style="height: 380px; width: 216px"></td>
<td><h4>Mutant: com.evancharlton.mileage-mutant1068<br> location: Delete interval.png<br> misMatchPercentage: 0.04<br>isSameDimensions:true<br>dimensionDifference:{width:0, height:0}</h4></td>
</tr>
<tr>
<td><img src="../../..\baseline\vrt\Export-Import data.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\vrt\Export-Import data.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\report\diffs\Export-Import data.png" style="height: 380px; width: 216px"></td>
<td><h4>Mutant: com.evancharlton.mileage-mutant1068<br> location: Export-Import data.png<br> misMatchPercentage: 0.06<br>isSameDimensions:true<br>dimensionDifference:{width:0, height:0}</h4></td>
</tr>
<tr>
<td><img src="../../..\baseline\vrt\Fillup.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\vrt\Fillup.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\report\diffs\Fillup.png" style="height: 380px; width: 216px"></td>
<td><h4>Mutant: com.evancharlton.mileage-mutant1068<br> location: Fillup.png<br> misMatchPercentage: 0.07<br>isSameDimensions:true<br>dimensionDifference:{width:0, height:0}</h4></td>
</tr>
<tr>
<td><img src="../../..\baseline\vrt\Service intervals.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\vrt\Service intervals.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\report\diffs\Service intervals.png" style="height: 380px; width: 216px"></td>
<td><h4>Mutant: com.evancharlton.mileage-mutant1068<br> location: Service intervals.png<br> misMatchPercentage: 0.06<br>isSameDimensions:true<br>dimensionDifference:{width:0, height:0}</h4></td>
</tr>
<tr>
<td><img src="../../..\baseline\vrt\Settings.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\vrt\Settings.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\report\diffs\Settings.png" style="height: 380px; width: 216px"></td>
<td><h4>Mutant: com.evancharlton.mileage-mutant1068<br> location: Settings.png<br> misMatchPercentage: 0.07<br>isSameDimensions:true<br>dimensionDifference:{width:0, height:0}</h4></td>
</tr>
<tr>
<td><img src="../../..\baseline\vrt\Statistics lower.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\vrt\Statistics lower.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\report\diffs\Statistics lower.png" style="height: 380px; width: 216px"></td>
<td><h4>Mutant: com.evancharlton.mileage-mutant1068<br> location: Statistics lower.png<br> misMatchPercentage: 0.03<br>isSameDimensions:true<br>dimensionDifference:{width:0, height:0}</h4></td>
</tr>
<tr>
<td><img src="../../..\baseline\vrt\Statistics upper.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\vrt\Statistics upper.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\report\diffs\Statistics upper.png" style="height: 380px; width: 216px"></td>
<td><h4>Mutant: com.evancharlton.mileage-mutant1068<br> location: Statistics upper.png<br> misMatchPercentage: 0.06<br>isSameDimensions:true<br>dimensionDifference:{width:0, height:0}</h4></td>
</tr>
<tr>
<td><img src="../../..\baseline\vrt\Vehicles default.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\vrt\Vehicles default.png" style="height: 380px; width: 216px"></td>
<td><img src="../../..\mutants\com.evancharlton.mileage-mutant1068\report\diffs\Vehicles default.png" style="height: 380px; width: 216px"></td>
<td><h4>Mutant: com.evancharlton.mileage-mutant1068<br> location: Vehicles default.png<br> misMatchPercentage: 0.03<br>isSameDimensions:true<br>dimensionDifference:{width:0, height:0}</h4></td>
</tr>
</table>